# TRANSACTION

# Aggregate_Transaction

In [5]:
import os
path="C:\\Users\\HP USER\\Documents\\Guvi\\Project\\02_Phone_pe\\pulse\\data\\aggregated\\transaction\\country\\india\\state"
Agg_state_list=os.listdir(path)

In [6]:
Agg_state_list

['andaman-&-nicobar-islands',
 'andhra-pradesh',
 'arunachal-pradesh',
 'assam',
 'bihar',
 'chandigarh',
 'chhattisgarh',
 'dadra-&-nagar-haveli-&-daman-&-diu',
 'delhi',
 'goa',
 'gujarat',
 'haryana',
 'himachal-pradesh',
 'jammu-&-kashmir',
 'jharkhand',
 'karnataka',
 'kerala',
 'ladakh',
 'lakshadweep',
 'madhya-pradesh',
 'maharashtra',
 'manipur',
 'meghalaya',
 'mizoram',
 'nagaland',
 'odisha',
 'puducherry',
 'punjab',
 'rajasthan',
 'sikkim',
 'tamil-nadu',
 'telangana',
 'tripura',
 'uttar-pradesh',
 'uttarakhand',
 'west-bengal']

In [116]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="C:\\Users\\HP USER\\Documents\\Guvi\\Project\\02_Phone_pe\\pulse\\data\\aggregated\\transaction\\country\\india\\state\\"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#This is to extract the data's to create a dataframe

clm={'Year':[],'Quarter':[],'State':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

In [117]:
Agg_Trans['Transaction_type'].unique()

array(['Recharge & bill payments', 'Peer-to-peer payments',
       'Merchant payments', 'Financial Services', 'Others'], dtype=object)

# Map Transaction

In [118]:
import os
path="C:\\Users\\HP USER\\Documents\\Guvi\\Project\\02_Phone_pe\\pulse\\data\\map\\transaction\\hover\\country\\india\\state"
map_state_list=os.listdir(path)

In [119]:
import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="C:\\Users\\HP USER\\Documents\\Guvi\\Project\\02_Phone_pe\\pulse\\data\\map\\transaction\\hover\\country\\india\\state\\"
map_state_list=os.listdir(path)
map_state_list
#
# map_state_list--> to get the list of states in India

#This is to extract the data's to create a dataframe

clm={'Year':[],'Quarter':[],'State':[],'Transaction_type':[],'Transaction_count':[],'Transaction_amount':[]}

for i in map_state_list:
    p_i=path+i+"/"
    map_yr=os.listdir(p_i)
    for j in map_yr:
        p_j=p_i+j+"/"
        map_yr_list=os.listdir(p_j)
        for k in map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
map_Trans=pd.DataFrame(clm)

In [120]:
map_Trans

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
18291,west-bengal,2024,1,nadia district,42154481,7.903014e+10
18292,west-bengal,2024,1,birbhum district,24812300,4.640025e+10
18293,west-bengal,2024,1,purba medinipur district,46212626,9.237355e+10
18294,west-bengal,2024,1,maldah district,42299563,7.671603e+10
18295,west-bengal,2024,1,darjiling district,18129044,2.927784e+10

# Top Transaction

In [121]:
import os
path="C:\\Users\\HP USER\\Documents\\Guvi\\Project\\02_Phone_pe\\pulse\\data\\top\\transaction\\country\\india\\state"
top_state_list=os.listdir(path)

In [8]:
import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path_top_trans="C:\\Users\\HP USER\\Documents\\Guvi\\Project\\02_Phone_pe\\pulse\\data\\top\\transaction\\country\\india\\state\\"
top_state_list=os.listdir(path_top_trans)
#Agg_state_list--> to get the list of states in India

#This is to extract the data's to create a dataframe

top_trans_clm={'State':[], 'Year':[],'Quarter':[],'Districts':[],'District_Transaction_count':[],'District_Transaction_amount':[] ,'Pincode':[],
     'Pincode_Transaction_count':[],'Pincode_Transaction_amount':[] }
for i in top_state_list:
    p_i=path_top_trans+i+"/"
    top_yr=os.listdir(p_i)
    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)
        for k in top_yr_list:
          p_k=p_j+k
          Data=open(p_k,'r')
          D=json.load(Data)
          states_data = D['data']['states']
          if states_data is None:
            stat_name = 'Not Applicable'
            stat_count=0
            stat_amount=0
            for dis in D['data']['districts']:
              dis_name=dis['entityName']
              dis_count=dis['metric']['count']
              dis_amount=dis['metric']['amount']
              for pin in D['data']['pincodes']:
                pin_name=pin['entityName']
                pin_count=pin['metric']['count']
                pin_amount=pin['metric']['amount']
                top_trans_clm['Districts'].append(dis_name)
                top_trans_clm['District_Transaction_count'].append(dis_count)
                top_trans_clm['District_Transaction_amount'].append(dis_amount)              
                top_trans_clm['Pincode'].append(pin_name)        
                top_trans_clm['Pincode_Transaction_count'].append(pin_count)
                top_trans_clm['Pincode_Transaction_amount'].append(pin_amount)
                top_trans_clm['State_Transaction_count'].append(stat_count)
                top_trans_clm['State_Transaction_amount'].append(stat_amount)              
                top_trans_clm['State'].append(i)
                top_trans_clm['Year'].append(j)
                top_trans_clm['Quarter'].append(int(k.strip('.json')))
          else:
            for z in D['data']['states']:
              stat_name=z['entityName']
              stat_count=z['metric']['count']
              stat_amount=z['metric']['amount']
              for dis in D['data']['districts']:
                dis_name=dis['entityName']
                dis_count=dis['metric']['count']
                dis_amount=dis['metric']['amount']
                for pin in D['data']['pincodes']:
                    pin_name=pin['entityName']
                    pin_count=pin['metric']['count']
                    pin_amount=pin['metric']['amount']
                    top_trans_clm['Districts'].append(dis_name)
                    top_trans_clm['District_Transaction_count'].append(dis_count)
                    top_trans_clm['District_Transaction_amount'].append(dis_amount)              
                    top_trans_clm['Pincode'].append(pin_name)
                    top_trans_clm['Pincode_Transaction_count'].append(pin_count)
                    top_trans_clm['Pincode_Transaction_amount'].append(pin_amount)
                    top_trans_clm['State_Transaction_count'].append(stat_count)
                    top_trans_clm['State_Transaction_amount'].append(stat_amount)                     
                    top_trans_clm['State'].append(i)
                    top_trans_clm['Year'].append(j)
                    top_trans_clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
top_Trans=pd.DataFrame(top_trans_clm)

KeyError: 'State_Transaction_count'

In [7]:
top_Trans

,State,Year,Quarter,Districts,District_Transaction_count,District_Transaction_amount,Pincode,Pincode_Transaction_count,Pincode_Transaction_amount
0,andaman-&-nicobar-islands,2018,1,south andaman,5688,1.256025e+07,744101,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,south andaman,5688,1.256025e+07,744103,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,south andaman,5688,1.256025e+07,744102,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,south andaman,5688,1.256025e+07,744105,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,south andaman,5688,1.256025e+07,744104,340,1.039715e+06
...,...,...,...,...,...,...,...,...,...
73869,west-bengal,2024,1,paschim medinipur,40845488,6.940010e+10,732125,4490229,7.014125e+09
73870,west-bengal,2024,1,paschim medinipur,40845488,6.940010e+10,700006,4358390,8.114395e+09
73871,west-bengal,2024,1,paschim medinipur,40845488,6.940010e+10,700001,4321119,8.497021e+09
73872,west-bengal,2024,1,paschim medinipur,40845488,6.940010e+10,732201,4265219,9.908795e+09
73873,west-bengal,2024,1,paschim medinipur,40845488,6.940010e+10,742202,3985791,8.428173e+09

# USER

# Aggregate_User

In [125]:
import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="C:\\Users\\HP USER\\Documents\\Guvi\\Project\\02_Phone_pe\\pulse\\data\\aggregated\\user\\country\\india\\state\\"
Agg_user_state_list=os.listdir(path)
Agg_user_state_list
#Agg_state_list--> to get the list of states in India

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quarter':[],'Registered_Users':[], 'App_opens':[],
     'Brand_name':[],'Registered_Users_of_brand':[], 'Percentage_of_contribution_by_brand':[]}

for i in Agg_user_state_list:
  p_i=path+i+"/"
  Agg_user_yr=os.listdir(p_i)
  for j in Agg_user_yr:
    p_j=p_i+j+"/"
    Agg_user_yr_list=os.listdir(p_j)
    for k in Agg_user_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      registered_user=D['data']['aggregated']['registeredUsers']
      app_opens=D['data']['aggregated']['appOpens']
      user_by_device = D['data'].get('usersByDevice', [])
      if user_by_device:  # Check if user_by_device is not None or empty
        for u in user_by_device:
          brand=u.get('brand', 'Not Available')
          brand_count=u.get('count', 0)
          brand_percentage=u.get('percentage', 0)
          clm['Registered_Users'].append(registered_user)
          clm['App_opens'].append(app_opens)
          clm['Brand_name'].append(brand)
          clm['Registered_Users_of_brand'].append(brand_count)
          clm['Percentage_of_contribution_by_brand'].append(brand_percentage)
          clm['State'].append(i)
          clm['Year'].append(j)
          clm['Quarter'].append(int(k.strip('.json')))
      else:
        brand='Not Available'
        brand_count  = 0
        brand_percentage = 0
        clm['Registered_Users'].append(registered_user)
        clm['App_opens'].append(app_opens)
        clm['Brand_name'].append(brand)
        clm['Registered_Users_of_brand'].append(brand_count)
        clm['Percentage_of_contribution_by_brand'].append(brand_percentage)
        clm['State'].append(i)
        clm['Year'].append(j)
        clm['Quarter'].append(int(k.strip('.json')))

      

#Succesfully created a dataframe
Agg_User=pd.DataFrame(clm)

In [126]:
Agg_User

,State,Year,Quarter,Registered_Users,App_opens,Brand_name,Registered_Users_of_brand,Percentage_of_contribution_by_brand
0,andaman-&-nicobar-islands,2018,1,6740,0,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,6740,0,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,6740,0,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,1,6740,0,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,1,6740,0,OnePlus,332,0.049258
...,...,...,...,...,...,...,...,...
7015,west-bengal,2023,1,26732895,321102681,Not Available,0,0.000000
7016,west-bengal,2023,2,27827662,350862668,Not Available,0,0.000000
7017,west-bengal,2023,3,28966414,473450373,Not Available,0,0.000000
7018,west-bengal,2023,4,30064546,1467442959,Not Available,0,0.000000
7019,west-bengal,2024,1,31306843,633526507,Not Available,0,0.000000

# Map_User

In [3]:
import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="C:\\Users\\HP USER\\Documents\\Guvi\\Project\\02_Phone_pe\\pulse\\data\\map\\user\\hover\\country\\india\\state\\"
map_user_state_list=os.listdir(path)
#Agg_state_list--> to get the list of states in India

#This is to extract the data's to create a dataframe

clm={'Year':[],'Quarter':[],'State':[],'District':[], 'Registered_Users':[], 'App_opens':[]}

for i in map_user_state_list:
  p_i=path+i+"/"
  map_user_yr=os.listdir(p_i)
  for j in map_user_yr:
    p_j=p_i+j+"/"
    map_user_yr_list=os.listdir(p_j)
    for k in map_user_yr_list:
      p_k=p_j+k
      Data=open(p_k,'r')
      D=json.load(Data)
      registered_user_data=D['data']['hoverData']
      for dist in registered_user_data:
        dist_names=registered_user_data[dist]
        registered_user=dist_names['registeredUsers']
        app_opens_user=dist_names['appOpens']
        clm['Registered_Users'].append(registered_user)
        clm['App_opens'].append(app_opens_user)
        clm['District'].append(dist)
        clm['State'].append(i)
        clm['Year'].append(j)
        clm['Quarter'].append(int(k.strip('.json')))
      #Succesfully created a dataframe
map_User=pd.DataFrame(clm)

In [5]:
map_User

,Year,Quarter,State,District,Registered_Users,App_opens
0,2018,1,andaman-&-nicobar-islands,north and middle andaman district,632,0
1,2018,1,andaman-&-nicobar-islands,south andaman district,5846,0
2,2018,1,andaman-&-nicobar-islands,nicobars district,262,0
3,2018,2,andaman-&-nicobar-islands,north and middle andaman district,911,0
4,2018,2,andaman-&-nicobar-islands,south andaman district,8143,0
...,...,...,...,...,...,...
18295,2024,1,west-bengal,nadia district,1671140,13679202
18296,2024,1,west-bengal,birbhum district,1056537,30502875
18297,2024,1,west-bengal,purba medinipur district,1655920,18688405
18298,2024,1,west-bengal,maldah district,1183956,33270738
18299,2024,1,west-bengal,darjiling district,686254,31485682

# Top_User

In [144]:
import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="C:\\Users\\HP USER\\Documents\\Guvi\\Project\\02_Phone_pe\\pulse\\data\\top\\user\\country\\india\\state\\"
top_user_state_list=os.listdir(path)
top_user_state_list
#Agg_state_list--> to get the list of states in India

#This is to extract the data's to create a dataframe

clm={'Year':[],'Quarter':[],'State':[],'Districts':[],'District_Registered_user':[],'Pincode':[],'Pincode_Registered_user':[]}

for i in top_user_state_list:
    p_i=path+i+"/"
    top_user_yr=os.listdir(p_i)
    for j in top_user_yr:
        p_j=p_i+j+"/"
        top_user_yr_list=os.listdir(p_j)
        for k in top_user_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            states_data = D['data']['states']
            if states_data is None:                     
                for dis in D['data']['districts']:
                    dis_name=dis['name']
                    dis_registered_user=dis['registeredUsers']
                    for pin in D['data']['pincodes']:
                        pin_name=pin['name']
                        pin_registered_user=pin['registeredUsers']
                        clm['Districts'].append(dis_name)
                        clm['District_Registered_user'].append(dis_registered_user)                
                        clm['Pincode'].append(pin_name)
                        clm['Pincode_Registered_user'].append(pin_registered_user)                                  
                        clm['State'].append(i)
                        clm['Year'].append(j)
                        clm['Quarter'].append(int(k.strip('.json')))
            else:
                for z in D['data']['states']:
                    state_name=z['name']
                    state_registered_user=z['registeredUsers']
                    for dis in D['data']['districts']:
                        dis_name=dis['name']
                        dis_registered_user=dis['registeredUsers']
                        for pin in D['data']['pincodes']:
                            pin_name=pin['name']
                            pin_registered_user=pin['registeredUsers']
                            clm['Districts'].append(dis_name)
                            clm['District_Registered_user'].append(dis_registered_user)                
                            clm['Pincode'].append(pin_name)
                            clm['Pincode_Registered_user'].append(pin_registered_user)                                  
                            clm['State'].append(i)
                            clm['Year'].append(j)
                            clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
top_Users=pd.DataFrame(clm)

In [145]:
top_Users

,Year,Quarter,State,Districts,District_Registered_user,Pincode,Pincode_Registered_user
0,2018,1,andaman-&-nicobar-islands,south andaman,5846,744103,1608
1,2018,1,andaman-&-nicobar-islands,south andaman,5846,744101,1108
2,2018,1,andaman-&-nicobar-islands,south andaman,5846,744105,1075
3,2018,1,andaman-&-nicobar-islands,south andaman,5846,744102,1006
4,2018,1,andaman-&-nicobar-islands,south andaman,5846,744104,272
...,...,...,...,...,...,...,...
73870,2024,1,west-bengal,purba bardhaman,1377496,700015,131676
73871,2024,1,west-bengal,purba bardhaman,1377496,742304,127917
73872,2024,1,west-bengal,purba bardhaman,1377496,721101,127891
73873,2024,1,west-bengal,purba bardhaman,1377496,700150,123919
73874,2024,1,west-bengal,purba bardhaman,1377496,700091,122985